# Binaries for programs and plugins
doxctl
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool
*.out
coverage.txt

# Go workspace file
go.work

# Dependency directories
vendor/

# Build artifacts
dist/
